@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400';

$dark-gray: #333;
$med-gray: #555;
$light-gray: #999;

$dark-font: #424242;
$light-font: #F7F7F7;

$primary-font: 'Lato';
$secondary-font: 'Open Sans';
