@import 'https://fonts.googleapis.com/css?family=Lakki+Reddy|Reem+Kufi';

$primary-color: #333;
$secondary-color: #333;
$tertiary-color: #333;

$primary-font: 'Lakki Reddy', cursive;
$secondary-font: 'Reem Kufi', sans-serif;