@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Montserrat';


$dark-gray: #333;
$med-gray: #555;
$light-gray: #999;

$dark-font: #424242;
$light-font: #F7F7F7;

$primary-font: 'Lato';
$secondary-font: 'Open Sans';
$title-style: 'Monserrat';

$title-font: 42px;
$font-large: 32px;
$font-medium: 22px;
$font-small: 14px;

$button-font-large: 18px;
$button-font-small: 12px;
