@import 'https://fonts.googleapis.com/css?family=Lakki+Reddy|Reem+Kufi';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$primary-color: #333;
$secondary-color: #333;
$tertiary-color: #fff;

$primary-font: 'Open Sans';
$secondary-font: 'Open Sans';
