// Custom made
@import 'reset';
@import 'mixins';
@import 'variables';

/*
====================
Grid
====================
 */

* {

}

body {
  box-sizing: border-box;
}
/*
====================
Title bar
====================
 */

nav {
  width: 100%;
}

.main_container {
  width: 960px;
  margin: 0 auto;
}

.listings_container {
  display: flex;
  flex-wrap: wrap;
  .listView_entry {
    width: 320px;
    height: 240px;
    h2 {
      font-size: 28px;
      line-height: 32px;
    }
    .data_container {
      display: flex;
      img {
        height: 180px;
      }
      .entry_text {
        flex-grow: 2;

      }

    }
  }
}
