// Custom made
@import 'reset';
@import 'mixins';
@import 'variables';

/*
====================
Grid
====================
 */
 * {
  font-family: $secondary-font;
 }

main {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 3em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // align-items: center;
    border: 3px solid black;
    background-color: #EFF;
    font-size: 20px;
    form input{
      font-size: 20px;
    }
}

.listView_container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 12px auto;
  .listView_entry {
    box-shadow: 1px 1px 2px #333;
    padding: 6px;
    margin: 3px auto;
    background-color: #EEE;
    width: 280px;
    margin: 5px auto;
    img {
      width: 150px;
      height: 100px;
    }
  }
}

nav {
  padding: 5px;
  position: relative;
  a {
    font-size: 20px;
    // margin: 3px 3px;
  }
  .nav_title{
    font-family: $primary-font;
    font-size: 45px;
    color: $tertiary-color;
    background-color: $primary-color;
    padding: 12px;
    margin: 0px;
    float: left;
  }
  .app_points a,
  .auth_points a{
    font-family: $primary-font;
    color: $tertiary-color;
    background-color: $primary-color;
    font-size: 25px;
    float: right;
    padding: 12px;
  }
  .auth_points > h3 {
  }
}

.nav_title > h4 {
  font-size: 24px;
  line-height: 32px;
}

.search_bar {
  background: #EEE url('yardsale.jpg') no-repeat center center;
  background-size: cover;
  height: 240px;
  border-radius: 5px;
  input, select, button  {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    background-color: #EEE;
    border: 2px solid black;
    position: relative;
    transform: translateY(200%);
    margin: 0 5px;
  }
  select, button {
    transform: translateY(230%);
  }
}

.main_container {
  background-color: #DDD;
  input {
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto;
  }
}
