// Custom made
@import 'reset';
@import 'mixins';
@import 'variables';

/*
====================
Grid
====================
 */

* {

}

body {
  box-sizing: border-box;
  font-family: $primary-font;
  background-repeat: repeat;
  background-color: #e7e7e7;
}

a {
  text-decoration: none;
  color: inherit;
}
/*
====================
Title bar
====================
 */

nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px #777;
  margin-bottom: 24px;
  position: fixed;
  z-index: 10;
}

nav * {
  padding: 0;
}

.nav_title {
  font-size: $title-font;
  line-height: 54px;
  margin: 12px 12px 6px 12px;
  color: $med-gray;
  h4 {
    color: $med-gray;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
}

h1 {
  font-size: $title-font;
  line-height: 54px;
  text-align: center;
  font-family: $primary-font;
  z-index: 12;
}

.nav_container {
  width: 960px;
  margin: 0 auto;
}

.nav_title,
.user_points {
  display: inline-block;
}

.nav_title {
  img,
  h1 {
    font-family: $title-style;
    display: inline-block;
    z-index: 12;
  }
}

.main_container {
  width: 960px;
  margin: 0 auto;
  top: 180px;
  position: relative;
}

.button {
  display: block;
  margin: 12px;
  font-size: $button-font-large;
}


.user_points {
  float: right;
}

.user_welcome {
  font-size: $font-medium;
}

/*
====================
Search bar
====================
 */

.search_bar {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  .search_bar_input {
    height: 32px;
    font-size: $font-small;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
  }
  .full_input {
    display:inline-block;
    label {
      display:block;
      text-align: left;
    }
    input {
      width: 240px;
    }
  }
  .keywords,
  .zip {
    // border-bottom: 1px solid $dark-gray;
    font-size: $font-medium;
    color: $dark-font;
    margin-left: 6px;
  }
  .search_button {
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: 22px;
    background-color: #D50000;
    color: $light-font;
    margin: 0 6px;
    transition: 0.4s all ease-in;
  }
}

/*
====================
Login / Signup
====================
 */

.auth_input {
  display:block;
  width: 320px;
  margin: 24px auto;
  label {
    display: block;
  }
  input {
    height: 32px;
    font-size: $font-medium;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color:$light-font;
  }
}

.login_container,
.signup_container {
  width: 540px;
  margin: 0 auto;
  background-color: $dark-gray;
  color: $light-font;
  padding: 12px;
}

.form_submit_button {
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: $font-medium;
  background-color: #1565C0;
  color: $light-font;
  margin: 0 6px;
}

/*
====================
List View
====================
 */

.listings_container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  top: 180px;
  .listView_entry {
    font-family: $secondary-font;
    color: $dark-font;
    background-color: #fff;
    padding: 6px;
    margin: 12px 6px;
    box-shadow: 0 1px 1px #777;
    width: 280px;
    height: 240px;
    z-index: 0;
    h2 {
      text-align: center;
      font-family: $title-style;
      font-size: $font-large;
      line-height: 32px;
    }
    .data_container {
      display: flex;
      .entry_img {
        flex-grow: 1;
        img {
          width: 120px;
        }
      }
      .entry_text {
        flex-grow: 2;
        span {
          display:block;
        }
      }
    }
  }
}

/*
====================
Listing View
====================
 */
.listing_container {
  background-color: $dark-gray;
  color:$light-font;
  padding: 24px;
  .listing_content {
    display: flex;
  }
  h2 {
    font-family: $title-style;
    font-size: $font-large;
    text-align: center;
  }
  .image_pane {
    flex-grow: 2;
    img {
      height: 180px;
    }
  }
  .info_pane {
    flex-grow: 1;
    font-size: $font-small;
    line-height: 22px;
    margin: 24px;
    .title {
      text-decoration: underline;
    }
    .data {
      font-style: italic;
      text-align: center;
    }
  }
  .listing_description {
    flex-grow: 1.5;
    padding: 24px;
    margin: 0 auto;
  }
  .button_container {
    margin: 12px;
  }
  .listing_view_button {
    padding: 12px;
    border: none;
    border-radius: 0;
    font-size: $font-small;
    background-color: #FDD835;
    color: $dark-font;
    margin: 0 6px;
  }
}
/*
====================
Create Listing View
====================
 */

.create_listing_container {
  top: 180px;
  padding:12px;
  border-left: 4px solid $dark-gray;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  select {
    height: 32px;
    font-size: $font-medium;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color: $light-font;
  }
  #description {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: $font-medium;
    color: $light-font;
  }
  .button_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .form_submit_button {
      width: 120px;
      border: none;
      border-radius: 0;
      padding: 12px;
      font-size: $font-medium;
      background-color: #FDD835;
      color: $dark-font;
      margin: 0 6px;
    }
  }
}

/*
====================
Dashboard View
====================
 */

.dashboard_container {
  top: 180px;
  padding:12px;
  border-left: 4px solid $dark-gray;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  .user_items_container {
    display: flex;
  }
  .user_items {

    flex-grow: 1;
    margin: 0 auto;
    align-items: stretch;
  }
  .user_items > div {
    display:block;
  }
  .active_heading,
  .pending_heading,
  .waiting_heading {
    text-align: center;
    display: block;
  }
}

.account_info {
  margin: 0 auto;
  .user_picture {
    text-align: center;
  }
  .about {
    margin: 12px;
    text-align: center;
  }
  .account_history {
    display: block;
    width: 240px;
    vertical-align: bottom;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 0;
    margin: 12px auto;
    font-size: $font-medium;
    background-color: #1565C0;
    color: $light-font;
  }
}

.display_history_container {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.pane_listing_button {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: $font-small;
  background-color: #FDD835;
  color: $dark-font;
  margin: 6px;
  width: 108px;
}

.view {
  padding: 12px 0;
}

.user_history {
  top: 180px;
  padding:12px;
  border-left: 4px solid $dark-gray;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  .history_labels {
    font-size: $font-large;
    color:$light-font;
    text-align: center;
    width:90%;
    padding: 12px;
    border-bottom: 1px solid #999;
    margin: 0 auto;
    span {
      display: inline-block;
      width: 45%;
    }
    .giver {
      flex-grow: 1;
    }
    .taker {
      flex-grow: 1;
    }
  }
}

.hist_list_item {
  // box-shadow: 0 2px 2px red;
  height: 120px;
  width: 80%;
  border-bottom: 1px solid #999;
  margin: 12px auto;
  z-index: 4;
  .data_container {
    display: inline-block;
  }
  h3 {
    font-size: $font-large;
    margin: 12px;
  }
  span {
    display: block;
    margin: 6px;
  }
  .flag {
    vertical-align: bottom;
    z-index: 2;
    font-size: $font-small;
    width: 120px;
    padding: 22px;
    background-color: #FDD835;
    color: $dark-font;
    text-align: center;
  }
}
.right_hist {
  text-align: right;
}
.right_flag {
  float: right;
}

.left_hist {
  text-align: left;
}
.left_flag {
  float: left;
}
/*
====================
Profile view
====================
 */

.profile_name {
  color: $dark-font;
  font-size: $font-large;
  text-align: center;
}

/*
====================
Pane Entry View
====================
 */

.pane_listing_entry {
  height: 180px;
  width: 240px;
  padding: 12px;
  margin: 12px auto;
  background-color: #fff;
  color: $dark-font;
}

.pane_listing_entry h2 {
  text-align: center;
}
.right {
  width: 120px;

}

.entry_img > img {
  height: 120px;
}

.data_container {
  margin-top: 20px;
}

.data_container > div {
  display: inline-block;
}

.right > div {
  display: block;
}

.entry_text > span {
  display: block;
  width:120px;
}

/*
====================
Footer
====================
 */

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 12px;
  text-align: center;
  font-size: $font-small;
  color: $light-font;
  background-color: $dark-gray;

  .made_with,
  .made_by {
    display: inline-block;
    margin: 0 auto;
  }
}

canvas {
  background-color: black;
  box-shadow: 3px 2px 3px darkblue;
}

.leftSide {
  float: left;
  min-width: 260px;
  max-width: 260px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: lightgrey;
  border: solid 1px black;
  height: 500px;
}


.rightSide {
  float: right;
  min-width: 600px;
  padding-top: 20px;
  padding-right: 20px;  
}

.developerContainer {
  position: absolute;
  margin-top: 160px;
  margin-left:60px;
  margin-right:60px;
}

.wrapperDiv {
  background-color: darkgrey;
  border: solid 5px black;
  margin: 0 auto;
  min-width: 1200px;
  height: 540px
}

.auth_inputChart {
  display:block;
  width: 260px;
  margin: 24px auto;
  label {
    display: block;
  }
  input {
    height: 32px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 21px;
    outline: none;
    background-color: inherit;
    color:$light-font;
  }
}

#myChart {
  width: 400px;
  height: 400px;
}