/*
====================
Imports
====================
 */
 // Bourbon styles
 // @import 'reset';
 // @import 'bourbon/bourbon';
 // @import 'neat/neat.scss';

// Custom made 
@import 'mixins';
@import 'variables';

/*
====================
Grid
====================
 */
 * {
  // border: 1px solid red;
  font-family: $secondary-font;
 }

main {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 3em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // align-items: center;
    border: 3px solid black;
    background-color: #EFF;
    font-size: 20px;
    form input{
      font-size: 20px;
    }
}

.listView_container {
  // display: flex;
  // justify-content: space-around;
  .listView_entry {
    margin: 3px auto;
    background-color: #EEE;
    width: 400px;
    margin: 5px auto;
    img {
      width: 150px;
      height: 100px;
    }
  }
}


nav {
  padding: 5px 5px 10px 5px;
  a {
    font-size: 20px;
    margin: 3px 3px;
  }
  .nav_title{
    font-family: $primary-font;
    font-size: 45px;
    color: #af111c;
    margin: 60px 30px;
    float: left;
  }
  .app_points a,
  .auth_points a{
    font-family: $primary-font;
    color: #af111c;
    font-size: 25px;
    float: right;
    margin: 30px 20px;
  }
}

.search_bar {
  background: #EEE url('pexels-large.jpeg') no-repeat center center;
  background-size: cover;
  height: 500px;
  border-radius: 5px;
  input, select, button  {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    background-color: #EEE;
    border: 2px solid black;
    position: relative;
    transform: translateY(500%);
    margin: 0 5px;
  }
  select, button {
    transform: translateY(570%);
  }
}

.main_container {
  background-color: #DDD;
  input {
    display: block;
    width: 300px;
    height: 40px;
    margin: 0 auto;
  }
}












/*
// ====================
// Nav Bar header
// ====================
//  */
// nav {
//   width: 960px;
//   margin: 0 auto;
//   margin-bottom: 24px;
//   border-bottom: 1px solid #000;
// }

// h1 {
//   font-size: 32px;
// }

// .auth_points {
//   padding: 6px;
//   display:inline-block;
//   text-align:right;
// }

// .app_points {
//   padding: 6px;
//   display:inline-block;
//   text-align: left;
// }

// .nav_title {
//   text-align: center;
//   font-size:24px;
// }

// .dashboard,
// .create {
//   padding-left: 24px;
// }


// .login,
// .signup {
//   padding-right: 24px;
// }

// /*
// ====================
// Search Bar
// ====================
//  */

// .search_bar {
//   height: 60px;
//   width: 960px;
//   margin: 0 auto;
//   border-top: 1px double #000;
//   border-bottom: 2px double #000;
// }

// .search_bar_input {
//   display:inline-flex;
// }
// /*
// ====================
// Main Container
// ====================
//  */
// .main_container {
//   width: 960px;
//   margin: 0 auto;
// }

// /*
// ====================
// List Container
// ====================
//  */
// .listView_container {
//   width: 960px;
//   margin: 0 auto;
// }

// .listView_entry {
//   margin: 12px;
// }
// /*
// ====================
// Inputs - Login / Signup
// ====================
//  */

// input, textarea {
//   display: block;
// }
