// Custom made
@import 'reset';
@import 'mixins';
@import 'variables';

/*
====================
Grid
====================
 */

* {

}

body {
  box-sizing: border-box;
  font-family: $primary-font;
  background-color: #e7e7e7;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}
.button_container {
  margin: 6px auto;
  text-align: center;
  .blue_button {
    display: inline-block;
    width: 160px;
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-size: $font-small;
    background-color: $blue;
    color: $light-font;
    margin: 0 auto;
    transition: 0.2s background-color ease-in;
  }
  .blue_button:hover {
    background-color: $blue-dark;
  }

  .yellow_button {
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: $font-small;
    background-color: $yellow;
    color: $dark-font;
    margin: 6px;
    width: 108px;
  }

  .yellow_button:hover {
    background-color: $yellow-dark;
  }
}

/*
====================
Title bar
====================
 */

nav {
  width: 100%;
  height: 100px;
  background-color: $dark-gray;
  color: $light-font;
  margin-bottom: 24px;
  position: fixed;
  z-index: 1000;
}

nav * {
  padding: 0;
}

.nav_title {
  font-size: $title-font;
  line-height: 54px;
  margin: 12px 12px 6px 12px;
  color: $light-font;
  h4 {
    color: $light-font;
    font-size: 18px;
    line-height: 22px;
  }
}

h1 {
  font-size: $title-font;
  font-weight: 100;
  line-height: 54px;
  text-align: center;
  font-family: $primary-font;
  z-index: 12;
}

.nav_container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  .nav_title,
  .user_points {
    flex-grow: 1;
  }
}

.nav_title,
.user_points {
  display: inline-block;
}

.nav_title {
  img,
  h1 {
    font-family: $title-style;
    display: inline-block;
    z-index: 12;
  }
}

.nav_title > a:hover {
  transition: 0.2s all ease-in;
}

.nav_title > a:hover {
  color: $yellow;
}

.main_container {
  width: 960px;
  margin: 0 auto;
  top: 124px;
  position: relative;
}

.button {
  display: block;
  margin: 12px;
  font-size: $button-font-large;
  text-align: right;
  transition: 0.2s all ease-in;
}

.button:hover {
  color: #42A5F5;
}

.user_points {
  float: right;
}

.user_welcome {
  font-size: $font-medium;
}

/*
====================
Login / Signup
====================
 */

.auth_input {
  display:block;
  width: 320px;
  margin: 24px auto;
  label {
    display: block;
    margin-bottom: 3px;
  }
  input {
    height: 32px;
    font-size: $font-medium;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color:$light-font;
  }
}

.login_container,
.signup_container {
  width: 540px;
  margin: 0 auto;
  background-color: $light-gray;
  border-radius: 10px;
  color: $light-font;
  padding: 12px;
  label {

  }
  input {
    border: 1px solid black;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    color: $dark_gray;
    padding: 3px 7px;
  }
  button {
    border-radius: 5px;
  }
  h1 {
    font-family: $primary-font;
  }
}

/*
====================
List View
====================
 */
 .listing_flex_box {
   display: flex;
   width: 960px;
   margin: 0 auto;
   position: relative;
   .filterBar {
     flex-grow: 1;
     width: 200px;
     height: 480px;
     color: $dark-font;
     float: left;
     background-color: white;
     padding: 12px;
     border: 1px solid $light-gray;
     margin-right: 18px;
     margin-top: 12px;
     fieldset {
       padding: 12px 0;
     }
     legend {
       text-align: center;
       font-size: $font-medium;
       font-weight: bold;
     }
     .condition_container {
       font-weight: 100;
       width: 120px;
       margin: 0 auto;
       text-align: right;
       label {
         line-height: 18px;
         display: inline-block;
       }
       input {
         display:inline-block;
       }
     }
     .filter_location {
       padding: 6px 0;
       label {
         display: block;
       }
     }
     .date_range {
       text-align: right;
     }
     .button_holder {
       margin: 0 auto;
     }
   }
 }

.listings_container {
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  .listView_entry {
    font-weight: 100;
    color: $dark-font;
    background-color: #fff;
    padding: 6px;
    border: 1px solid $light-gray;
    margin: 12px 6px;
    width: 220px;
    height: 220px;
    z-index: 0;
    h2 {
      height: 64px;
      text-align: center;
      font-family: $title-style;
      font-size: $font-medium;
      line-height: 32px;
      transition: 0.3s all ease-in;
    }
    .data_container {
      display: flex;
      .entry_img {
        flex-grow: 1;
        img {
          width: 120px;
        }
      }
      .created_ago {
        font-size: $font-small;
        font-weight: 100;
        text-align: center;
      }
      .entry_text {
        flex-grow: 2;
        span {
          display:block;
        }
      }
    }
  }
  .listView_entry:hover {
    h2 {
      text-decoration: underline;
    }
  }
}

/*
====================
Listing View
====================
 */
.listing_container {
  background-color: $dark-gray;
  color:$light-font;
  padding: 24px;
  .listing_content {
    border: 1px solid white;
    display: flex;
    .image_pane {
      margin-left: 10px;
      margin-top: 10px;
      width: 320px;
      img {
        height: 180px;
      }
    }
    .listing_description {
      flex-grow: 1;
      h2 {
        font-family: $title-style;
        font-size: $font-large;
        text-align: center;
        margin-bottom: 12px;
      }
      padding: 24px;
      margin: 0 auto;
    }
    .info_pane {
      flex-grow: 0.25;
      font-size: $font-small;
      line-height: 22px;
      margin: 24px;
      .title {
        text-decoration: underline;
      }
      .data {
        font-style: italic;
        text-align: center;
      }
      .advert_container {
        flex-grow: 0.5;
        display: inline-block;
      }
    }
  }
}
/*
====================
Create Listing View
====================
 */

.create_listing_container {
  padding:12px;
  background-color: $light-gray;
  border-radius: 10px;
  color: $light-font;
  margin: 0 auto;
  input[type='text'] {
    background-color: white;
    color: $dark-gray;
    width: 300px;
    border-radius: 5px;
  }
  input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label[for='image']{
    border: 1px solid black;
    background-color: $dark-gray;
    border-radius: 5px;
    font-size: $font-medium;
    width: 200px;
    height: 30px;
    padding: 5px;
    display: block;
    // border: 3px solid black;
    span {
      margin: 0 5px 5px 9px;
    }
  }
  label[for='image']:active {
    background-color: black;
    // border: 3px solid black;

  }
  .image_input {
    margin: 0 auto;
    text-align: center;
  }
  select {
    height: 32px;
    font-size: $font-medium;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: $dark-gray;
    color: $light-font;
    width: 200px;
    height: 30px;
    display: block;
    // border: 3px solid black;
  }
  #description {
    border: none;
    outline: none;
    background-color: white;
    font-size: $font-medium;
    color: $light-font;
    width: 400px;
    height: 200px;
    color: $dark-gray;
    padding: 5px;
    // border: 3px solid $dark-gray;
    border-radius: 7px;
  }
}

/*
====================
Dashboard View
====================
 */

.dashboard_container {
  padding:12px;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  .user_items_container {
    display: flex;
  }
  .user_items {
    flex-grow: 1;
    margin: 0 auto;
    align-items: stretch;
  }
  .user_items > div {
    display:block;
  }
  .active_heading,
  .pending_heading,
  .waiting_heading {
    text-align: center;
    display: block;
  }
}

.account_info {
  margin: 0 auto;
  .user_picture {
    text-align: center;
  }
  .about {
    margin: 12px;
    text-align: center;
  }
  .account_history {
    display: block;
    width: 240px;
    vertical-align: bottom;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 0;
    margin: 12px auto;
    font-size: $font-medium;
    background-color: $blue;
    color: $light-font;
  }
}

.display_history_container {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.pane_listing_button {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: $font-small;
  background-color: $yellow;
  color: $dark-font;
  margin: 6px;
  width: 108px;
}

.view {
  padding: 12px 0;
}

.user_history {
  top: 180px;
  padding:12px;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  .history_labels {
    font-size: $font-large;
    color:$light-font;
    text-align: center;
    width:90%;
    padding: 12px;
    margin: 0 auto;
    span {
      display: inline-block;
      width: 45%;
    }
    .giver {
      flex-grow: 1;
    }
    .taker {
      flex-grow: 1;
    }
  }
}

.hist_list_item {
  height: 120px;
  width: 80%;
  border-bottom: 1px solid #999;
  margin: 12px auto;
  z-index: 4;
  .data_container {
    display: inline-block;
  }
  h3 {
    font-size: $font-large;
    margin: 12px;
  }
  span {
    display: block;
    margin: 6px;
  }
  .flag {
    vertical-align: bottom;
    z-index: 2;
    font-size: $font-small;
    width: 120px;
    padding: 22px;
    background-color: $yellow;
    color: $dark-font;
    text-align: center;
  }
}
.right_hist {
  text-align: right;
}
.right_flag {
  float: right;
}

.left_hist {
  text-align: left;
}
.left_flag {
  float: left;
}

.dev_portal_access {
  padding:12px;
  background-color: $dark-gray;
  color: $light-font;
  margin: 0 auto;
  text-align: center;
  .form_submit_button {
    display: inline-block;
    width: 160px;
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: $font-medium;
    background-color: $blue;
    color: $light-font;
    margin: 0 auto;
    transition: 0.2s background-color ease-in;
  }
  .form_submit_button:hover {
    background-color: #073C78;
  }
}
/*
====================
Profile view
====================
 */

.profile_name {
  color: $dark-font;
  font-size: $font-large;
  text-align: center;
}

/*
====================
Pane Entry View
====================
 */

.pane_listing_entry {
  height: 180px;
  width: 240px;
  padding: 12px;
  margin: 12px auto;
  background-color: #fff;
  color: $dark-font;
}

.pane_listing_entry h2 {
  text-align: center;
}
.right {
  width: 120px;

}

.entry_img > img {
  height: 120px;
}

.data_container {
  margin-top: 20px;
}

.data_container > div {
  display: inline-block;
}

.right > div {
  display: block;
}

.entry_text > span {
  display: block;
  width:120px;
}
/*
====================
Search bar
====================
 */

.search_bar_container {
  position: relative;
  top: 100px;
  width: 100%;
  background-color: $dark-gray;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  width: 480px;
  background-color: #fff;
  line-height: 24px;
  font-size: $font-medium;
  top: 48px;
  color:$dark-font;
  z-index: 100;
  .react-autosuggest__suggestion {
    padding: 6px;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid $light-gray;
    display: inline-block;
    width: 100%;
  }
}

.search_holder {
  width: 960px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  text-align: center;
  div {
    display: inline-flex;
  }
  flex-direction: row;
  .search_form {
    margin: 0 auto;
  }
  .react-autosuggest__container {
    display: inline-flex;
    input {
      height: 48px;
      width: 480px;
      border: none;
      outline: none;
      background-color: #fff;
      padding: 0 12px;
      font-size: $font-medium;
    }
  }
  .map_button,
  .search_button {
    line-height: 22px;
    border: none;
    display: inline-block;
    font-size: $font-medium;
    background-color: $red;
    color: $light-font;
    outline: none;
    transition: 0.2s all ease-in;
    vertical-align: top;
  }
  .search_button {
    border-radius: 0 6px 6px 0;
    height: 48px;
    vertical-align: top;
  }
  .map_button {
    border-radius: 6px 0 0 6px;
    padding: 0 12px;
    height: 48px;
    img {
    }
  }
  .search_button:hover,
  .map_button:hover {
    background-color: $red-dark;
    color: $light-font;
  }
}

.pagination {
  z-index: 50;
  position: relative;
  height: 24px;
  text-align: center;
  padding-top: 6px;
  background-color: $dark-gray;
}
.page_number {
  width: 48px;
  line-height: 22px;
  font-size: $font-medium;
  color: $light-font;
  padding: 0 24px;
  margin: 5px 3px;
  border-radius: 6px 6px 0 0;
  color: $dark-gray;
  background-color: #e7e7e7;

}
.current {
  background-color: $red;
  color: white;
}
/*
====================
map modal
====================
 */
 .reactGoogleMap_containerElement {
    height: 100%;
 }

 .map_modal {
  background-size: cover;
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  left: -9999px;
  position: fixed;
 }

 .map_modal_content {
    position: absolute;
    left: 33%;
    top: 2%;
    width: 450px;
    height: 350px;
    border: 5px solid rgba(0, 0, 0, 0.8);
 }

 .modal_on {
   display: block;
   top: 180px;
   left: 0;
 }

 .modal_off {
   display: block;
 }

 .input.undefined {
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 14px;
  height: 32px;
  margin-top: 27px;
  outline: none;
  padding: 0 12px;
  text-overflow: ellipses;
  width: 400px;
 }

/*
====================
Dev Sign-up Container
====================
 */

.dev_signup_container {
  background-color: $dark-gray;
  color: $light-font;
  height: 600px;
  input {
    background-color: #fff;
    color: $dark-font;
    width: 480px;
    padding: 12px;
    margin: 6px;
  }
  span {
    display: block;
    padding: 12px;
  }
  p {
    margin: 0 auto;
    width: 66%;
    padding: 6px;
    font-size: $font-small;
  }
  .auth_input {
    width: 50%;
  }
  .api_key_display {
    margin: 0 auto;
    text-align: center;
    padding: 24px;
  }
  .api_key_title {
    font-size: $font-medium;
  }
  .api_key_warning {
    font-size: $font-small;
    color: $red;
  }
}

.button_holder {
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
}

/*
====================
Footer
====================
 */

canvas {
  background-color: black;
  border: solid 1px darkgrey;
  min-height: 350px;
}

#myMap {
  min-width: 800px;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px
}

.leftSide {
  float: left;
  min-width: 230px;
  max-width: 230px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: lightgrey;
  border: solid 4px darkgrey;
  height: 500px;
}
.leftMapSide {
  float: left;
  min-width: 180px;
  max-width: 180px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: lightgrey;
  border: solid 1px black;
  height: 500px;
}


.rightSide {
  float: right;
  padding-top: 90px;
  padding-right: 20px;
  width: 660px;
}

#myMap{
  min-width: 800px;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px;
}

.mapSide {
  float: right;
  min-width: 800px;
  max-width: 800px;
  padding-top: 20px;
  padding-right: 20px;
  max-height: 480px;
  min-height: 480px;
}

.developerContainer {
  margin-left:10%;
  margin-right:10%;
}

.wrapperDiv {
  background-color: #333;
  border: solid 5px black;
  margin: 0 auto;
  min-width: 1200px;
  height: 540px
}

.auth_inputChart {
  display:block;
  width: 230px;
  margin: 24px auto;
  label {
    display: block;
  }
  input {
    height: 32px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 22px;
    outline: none;
    background-color: inherit;
    color:$light-font;
  }
}

/*
====================
Footer
====================
 */

.adverttext {
  text-align: center;
  font-size: 1.6em;
}

.makeBig {
  text-align: center;
  font-size: 1.7em;
}

.makeMedium {
  text-align: center;
  font-size: 1.4em;
}


.advertimg {
  height: 85px;
  width: 130px;
  font-size: 1.6em;
  margin-bottom: 10px;
  display: block;
  box-shadow: 1px 1px 1px black;
}

.advertColor {
  background-color: lightgrey;
  border: solid 1px black;
  padding: 5px;
  color: black;
  width: 180px
}

.advertContainer {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.advertWrap {
  width: 200px;
  text-align: center;
}

.mapText {
  visibility: visible;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  margin-top: 410px;
  margin-left: 220px;
  background-color: lightgrey;
  border: solid 2px black;
}

.mapVis {
  padding: 5px;
  position: fixed;
  margin-top: 210px;
  margin-left: 220px;
  visibility: hidden;
}

.pickup {
  background-color: #00E676;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  font-size: $font-small;
  padding: 6px 0;
  color: $dark-font;
  margin: 6px;
  width: 108px;
}

.rater {
  margin-top: 0;
  background-color: $red;
  text-align: center;
  display: inline-block;
  padding: 6px 0;
  margin-bottom: 6px;
  width: 200px;
}
