/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
====================
Grid
====================
 */
body {
  box-sizing: border-box;
  font-family: "Lato";
  background-color: #e7e7e7; }

a {
  text-decoration: none;
  color: inherit; }

.button_container {
  margin: 6px auto;
  text-align: center; }
  .button_container .blue_button {
    display: inline-block;
    width: 160px;
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    background-color: #1565C0;
    color: #F7F7F7;
    margin: 0 auto;
    transition: 0.2s background-color ease-in; }
  .button_container .blue_button:hover {
    background-color: #073C78; }
  .button_container .yellow_button {
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: 14px;
    background-color: #FDD835;
    color: #424242;
    margin: 6px;
    width: 108px; }
  .button_container .yellow_button:hover {
    background-color: #FBC02D; }

/*
====================
Title bar
====================
 */
nav {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #F7F7F7;
  margin-bottom: 24px;
  position: fixed;
  z-index: 1000; }

nav * {
  padding: 0; }

.nav_title {
  font-size: 42px;
  line-height: 54px;
  margin: 12px 12px 6px 12px;
  color: #F7F7F7; }
  .nav_title h4 {
    color: #F7F7F7;
    font-size: 18px;
    line-height: 22px; }

h1 {
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  font-family: "Lato";
  z-index: 12; }

.nav_container {
  width: 960px;
  margin: 0 auto;
  display: flex; }
  .nav_container .nav_title,
  .nav_container .user_points {
    flex-grow: 1; }

.nav_title,
.user_points {
  display: inline-block; }

.nav_title img,
.nav_title h1 {
  font-family: "Monserrat";
  display: inline-block;
  z-index: 12; }

.nav_title > a:hover {
  transition: 0.2s all ease-in; }

.nav_title > a:hover {
  color: #FDD835; }

.main_container {
  width: 960px;
  margin: 0 auto;
  top: 124px;
  position: relative; }

.button {
  display: block;
  margin: 12px;
  font-size: 18px;
  text-align: right;
  transition: 0.2s all ease-in; }

.button:hover {
  color: #42A5F5; }

.user_points {
  float: right; }

.user_welcome {
  font-size: 22px; }

/*
====================
Login / Signup
====================
 */
.auth_input {
  display: block;
  width: 320px;
  margin: 24px auto; }
  .auth_input label {
    display: block;
    margin-bottom: 3px; }
  .auth_input input {
    height: 32px;
    font-size: 22px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color: #F7F7F7; }

.login_container,
.signup_container {
  width: 540px;
  margin: 0 auto;
  background-color: #999;
  border-radius: 10px;
  color: #F7F7F7;
  padding: 12px; }
  .login_container input,
  .signup_container input {
    border: 1px solid black;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    color: #333;
    padding: 3px 7px; }
  .login_container button,
  .signup_container button {
    border-radius: 5px; }
  .login_container h1,
  .signup_container h1 {
    font-family: "Lato"; }

/*
====================
List View
====================
 */
.listing_flex_box {
  display: flex;
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .listing_flex_box .filterBar {
    flex-grow: 1;
    width: 200px;
    height: 480px;
    color: #424242;
    float: left;
    background-color: white;
    padding: 12px;
    margin-right: 18px;
    margin-top: 12px; }
    .listing_flex_box .filterBar fieldset {
      padding: 12px 0; }
    .listing_flex_box .filterBar legend {
      text-align: center;
      font-size: 22px;
      font-weight: bold; }
    .listing_flex_box .filterBar .condition_container {
      width: 120px;
      margin: 0 auto;
      text-align: right; }
      .listing_flex_box .filterBar .condition_container label {
        line-height: 18px;
        display: inline-block; }
      .listing_flex_box .filterBar .condition_container input {
        display: inline-block; }
    .listing_flex_box .filterBar .filter_location {
      padding: 6px 0; }
      .listing_flex_box .filterBar .filter_location label {
        display: block; }
    .listing_flex_box .filterBar .date_range {
      text-align: right; }
    .listing_flex_box .filterBar .button_holder {
      margin: 0 auto; }

.listings_container {
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto; }
  .listings_container .listView_entry {
    font-family: "Open Sans";
    color: #424242;
    background-color: #fff;
    padding: 6px;
    margin: 12px 6px;
    width: 220px;
    height: 220px;
    z-index: 0;
    transition: 0.2s box-shadow ease-in; }
    .listings_container .listView_entry h2 {
      text-align: center;
      font-family: "Monserrat";
      font-size: 32px;
      line-height: 32px; }
    .listings_container .listView_entry .data_container {
      display: flex; }
      .listings_container .listView_entry .data_container .entry_img {
        flex-grow: 1; }
        .listings_container .listView_entry .data_container .entry_img img {
          width: 120px; }
      .listings_container .listView_entry .data_container .entry_text {
        flex-grow: 2; }
        .listings_container .listView_entry .data_container .entry_text span {
          display: block; }
  .listings_container .listView_entry:hover {
    box-shadow: 0 1px 2px #333; }

/*
====================
Listing View
====================
 */
.listing_container {
  background-color: #333;
  color: #F7F7F7;
  padding: 24px; }
  .listing_container .listing_content {
    border: 1px solid white;
    display: flex; }
    .listing_container .listing_content .image_pane {
      margin-left: 10px;
      margin-top: 10px;
      width: 320px; }
      .listing_container .listing_content .image_pane img {
        height: 180px; }
    .listing_container .listing_content .listing_description {
      flex-grow: 1;
      padding: 24px;
      margin: 0 auto; }
      .listing_container .listing_content .listing_description h2 {
        font-family: "Monserrat";
        font-size: 32px;
        text-align: center;
        margin-bottom: 12px; }
    .listing_container .listing_content .info_pane {
      flex-grow: 0.25;
      font-size: 14px;
      line-height: 22px;
      margin: 24px; }
      .listing_container .listing_content .info_pane .title {
        text-decoration: underline; }
      .listing_container .listing_content .info_pane .data {
        font-style: italic;
        text-align: center; }
      .listing_container .listing_content .info_pane .advert_container {
        flex-grow: 0.5;
        display: inline-block; }

/*
====================
Create Listing View
====================
 */
.create_listing_container {
  padding: 12px;
  border-left: 4px solid #333;
  background-color: #999;
  color: #F7F7F7;
  margin: 0 auto; }
  .create_listing_container input[type='text'] {
    background-color: white;
    color: #333;
    width: 300px;
    border-radius: 5px; }
  .create_listing_container input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .create_listing_container label[for='image'] {
    border: 1px solid black;
    background-color: #333;
    border-radius: 5px;
    font-size: 22px;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 0 auto;
    display: block; }
  .create_listing_container label[for='image']:active {
    background-color: black; }
  .create_listing_container textarea {
    background-color: white; }
  .create_listing_container .image_input {
    margin: 0 auto;
    text-align: center; }
  .create_listing_container select {
    height: 32px;
    font-size: 22px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: #333;
    color: #F7F7F7;
    width: 200px;
    height: 30px;
    display: block; }
  .create_listing_container #description {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 22px;
    color: #F7F7F7; }

/*
====================
Dashboard View
====================
 */
.dashboard_container {
  padding: 12px;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto; }
  .dashboard_container .user_items_container {
    display: flex; }
  .dashboard_container .user_items {
    flex-grow: 1;
    margin: 0 auto;
    align-items: stretch; }
  .dashboard_container .user_items > div {
    display: block; }
  .dashboard_container .active_heading,
  .dashboard_container .pending_heading,
  .dashboard_container .waiting_heading {
    text-align: center;
    display: block; }

.account_info {
  margin: 0 auto; }
  .account_info .user_picture {
    text-align: center; }
  .account_info .about {
    margin: 12px;
    text-align: center; }
  .account_info .account_history {
    display: block;
    width: 240px;
    vertical-align: bottom;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 0;
    margin: 12px auto;
    font-size: 22px;
    background-color: #1565C0;
    color: #F7F7F7; }

.display_history_container {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  text-align: center; }

.pane_listing_button {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: 14px;
  background-color: #FDD835;
  color: #424242;
  margin: 6px;
  width: 108px; }

.view {
  padding: 12px 0; }

.user_history {
  top: 180px;
  padding: 12px;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto; }
  .user_history .history_labels {
    font-size: 32px;
    color: #F7F7F7;
    text-align: center;
    width: 90%;
    padding: 12px;
    margin: 0 auto; }
    .user_history .history_labels span {
      display: inline-block;
      width: 45%; }
    .user_history .history_labels .giver {
      flex-grow: 1; }
    .user_history .history_labels .taker {
      flex-grow: 1; }

.hist_list_item {
  height: 120px;
  width: 80%;
  border-bottom: 1px solid #999;
  margin: 12px auto;
  z-index: 4; }
  .hist_list_item .data_container {
    display: inline-block; }
  .hist_list_item h3 {
    font-size: 32px;
    margin: 12px; }
  .hist_list_item span {
    display: block;
    margin: 6px; }
  .hist_list_item .flag {
    vertical-align: bottom;
    z-index: 2;
    font-size: 14px;
    width: 120px;
    padding: 22px;
    background-color: #FDD835;
    color: #424242;
    text-align: center; }

.right_hist {
  text-align: right; }

.right_flag {
  float: right; }

.left_hist {
  text-align: left; }

.left_flag {
  float: left; }

.dev_portal_access {
  padding: 12px;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto;
  text-align: center; }
  .dev_portal_access .form_submit_button {
    display: inline-block;
    width: 160px;
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: 22px;
    background-color: #1565C0;
    color: #F7F7F7;
    margin: 0 auto;
    transition: 0.2s background-color ease-in; }
  .dev_portal_access .form_submit_button:hover {
    background-color: #073C78; }

/*
====================
Profile view
====================
 */
.profile_name {
  color: #424242;
  font-size: 32px;
  text-align: center; }

/*
====================
Pane Entry View
====================
 */
.pane_listing_entry {
  height: 180px;
  width: 240px;
  padding: 12px;
  margin: 12px auto;
  background-color: #fff;
  color: #424242; }

.pane_listing_entry h2 {
  text-align: center; }

.right {
  width: 120px; }

.entry_img > img {
  height: 120px; }

.data_container {
  margin-top: 20px; }

.data_container > div {
  display: inline-block; }

.right > div {
  display: block; }

.entry_text > span {
  display: block;
  width: 120px; }

/*
====================
Search bar
====================
 */
.search_bar_container {
  position: relative;
  top: 100px;
  width: 100%;
  background-color: #333; }

.react-autosuggest__suggestions-container {
  position: absolute;
  width: 480px;
  background-color: #fff;
  line-height: 24px;
  font-size: 22px;
  top: 48px;
  color: #424242;
  z-index: 100; }
  .react-autosuggest__suggestions-container .react-autosuggest__suggestion {
    padding: 6px;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid #999;
    display: inline-block;
    width: 100%; }

.search_holder {
  width: 960px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  text-align: center;
  flex-direction: row; }
  .search_holder div {
    display: inline-flex; }
  .search_holder .search_form {
    margin: 0 auto; }
  .search_holder .react-autosuggest__container {
    display: inline-flex; }
    .search_holder .react-autosuggest__container input {
      height: 48px;
      width: 480px;
      border: none;
      outline: none;
      background-color: #fff;
      padding: 0 12px;
      font-size: 22px; }
  .search_holder .map_button,
  .search_holder .search_button {
    line-height: 22px;
    border: none;
    display: inline-block;
    font-size: 22px;
    background-color: #D50000;
    color: #F7F7F7;
    outline: none;
    transition: 0.2s all ease-in;
    vertical-align: top; }
  .search_holder .search_button {
    border-radius: 0 6px 6px 0;
    height: 48px;
    vertical-align: top; }
  .search_holder .map_button {
    border-radius: 6px 0 0 6px;
    padding: 0 12px;
    height: 48px; }
  .search_holder .search_button:hover,
  .search_holder .map_button:hover {
    background-color: #840000;
    color: #F7F7F7; }

.pagination {
  z-index: 50;
  position: relative;
  height: 24px;
  text-align: center;
  padding-top: 6px;
  background-color: #333; }

.page_number {
  width: 48px;
  line-height: 22px;
  font-size: 22px;
  color: #F7F7F7;
  padding: 0 24px;
  margin: 5px 3px;
  border-radius: 6px 6px 0 0;
  color: #333;
  background-color: #e7e7e7; }

.current {
  background-color: #D50000;
  color: white; }

/*
====================
map modal
====================
 */
.reactGoogleMap_containerElement {
  height: 100%; }

.map_modal {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  left: -9999px;
  position: fixed; }

.map_modal_content {
  position: absolute;
  left: 33%;
  top: 2%;
  width: 450px;
  height: 350px;
  border: 5px solid rgba(0, 0, 0, 0.8); }

.modal_on {
  display: block;
  top: 180px;
  left: 0; }

.modal_off {
  display: block; }

.input.undefined {
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 14px;
  height: 32px;
  margin-top: 27px;
  outline: none;
  padding: 0 12px;
  text-overflow: ellipses;
  width: 400px; }

/*
====================
Dev Sign-up Container
====================
 */
.dev_signup_container {
  background-color: #333;
  color: #F7F7F7;
  height: 600px; }
  .dev_signup_container input {
    background-color: #fff;
    color: #424242;
    width: 480px;
    padding: 12px;
    margin: 6px; }
  .dev_signup_container span {
    display: block;
    padding: 12px; }
  .dev_signup_container p {
    margin: 0 auto;
    width: 66%;
    padding: 6px;
    font-size: 14px; }
  .dev_signup_container .auth_input {
    width: 50%; }
  .dev_signup_container .api_key_display {
    margin: 0 auto;
    text-align: center;
    padding: 24px; }
  .dev_signup_container .api_key_title {
    font-size: 22px; }
  .dev_signup_container .api_key_warning {
    font-size: 14px;
    color: #D50000; }

.button_holder {
  width: 100%;
  text-align: center;
  padding-bottom: 12px; }

/*
====================
Footer
====================
 */
canvas {
  background-color: black;
  border: solid 1px darkgrey;
  min-height: 350px; }

#myMap {
  min-width: 800px;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px; }

.leftSide {
  float: left;
  min-width: 230px;
  max-width: 230px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: lightgrey;
  border: solid 4px darkgrey;
  height: 500px; }

.leftMapSide {
  float: left;
  min-width: 180px;
  max-width: 180px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: lightgrey;
  border: solid 1px black;
  height: 500px; }

.rightSide {
  float: right;
  padding-top: 90px;
  padding-right: 20px;
  width: 660px; }

#myMap {
  min-width: 800px;
  max-width: 800px;
  min-height: 500px;
  max-height: 500px; }

.mapSide {
  float: right;
  min-width: 800px;
  max-width: 800px;
  padding-top: 20px;
  padding-right: 20px;
  max-height: 480px;
  min-height: 480px; }

.developerContainer {
  margin-left: 10%;
  margin-right: 10%; }

.wrapperDiv {
  background-color: #333;
  border: solid 5px black;
  margin: 0 auto;
  min-width: 1200px;
  height: 540px; }

.auth_inputChart {
  display: block;
  width: 230px;
  margin: 24px auto; }
  .auth_inputChart label {
    display: block; }
  .auth_inputChart input {
    height: 32px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 22px;
    outline: none;
    background-color: inherit;
    color: #F7F7F7; }

/*
====================
Footer
====================
 */
.adverttext {
  text-align: center;
  font-size: 1.6em; }

.makeBig {
  text-align: center;
  font-size: 1.7em; }

.makeMedium {
  text-align: center;
  font-size: 1.4em; }

.advertimg {
  height: 85px;
  width: 130px;
  font-size: 1.6em;
  margin-bottom: 10px;
  display: block;
  box-shadow: 1px 1px 1px black; }

.advertColor {
  background-color: lightgrey;
  border: solid 1px black;
  padding: 5px;
  color: black;
  width: 180px; }

.advertContainer {
  display: inline-block;
  text-align: center;
  margin: 0 auto; }

.mapText {
  visibility: visible;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  margin-top: 410px;
  margin-left: 220px;
  background-color: lightgrey;
  border: solid 2px black; }

.mapVis {
  padding: 5px;
  position: fixed;
  margin-top: 210px;
  margin-left: 220px;
  visibility: hidden; }

.pickup {
  background-color: #00E676;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding: 6px 0;
  color: #424242;
  margin: 6px;
  width: 108px; }
