/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
====================
Grid
====================
 */
body {
  box-sizing: border-box;
  font-family: "Lato";
  background-repeat: repeat;
  background-color: #e7e7e7; }

a {
  text-decoration: none;
  color: inherit; }

/*
====================
Title bar
====================
 */
nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 1px #777;
  margin-bottom: 24px;
  position: fixed;
  z-index: 10; }

nav * {
  padding: 0; }

.nav_title {
  font-size: 42px;
  line-height: 54px;
  margin: 12px 12px 6px 12px;
  color: #555; }
  .nav_title h4 {
    color: #555;
    text-align: center;
    font-size: 18px;
    line-height: 22px; }

h1 {
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  font-family: "Lato";
  z-index: 12; }

.nav_container {
  width: 960px;
  margin: 0 auto; }

.nav_title,
.user_points {
  display: inline-block; }

.nav_title img,
.nav_title h1 {
  font-family: "Monserrat";
  display: inline-block;
  z-index: 12; }

.main_container {
  width: 960px;
  margin: 0 auto;
  top: 180px;
  position: relative; }

.button {
  display: block;
  margin: 12px;
  font-size: 18px; }

.user_points {
  float: right; }

.user_welcome {
  font-size: 22px; }

/*
====================
Search bar
====================
 */
.search_bar {
  width: 960px;
  margin: 0 auto;
  text-align: center; }
  .search_bar .search_bar_input {
    height: 32px;
    font-size: 14px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit; }
  .search_bar .full_input {
    display: inline-block; }
    .search_bar .full_input label {
      display: block;
      text-align: left; }
    .search_bar .full_input input {
      width: 240px; }
  .search_bar .keywords,
  .search_bar .zip {
    font-size: 22px;
    color: #424242;
    margin-left: 6px; }
  .search_bar .search_button {
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: 22px;
    background-color: #D50000;
    color: #F7F7F7;
    margin: 0 6px;
    transition: 0.4s all ease-in; }

/*
====================
Login / Signup
====================
 */
.auth_input {
  display: block;
  width: 320px;
  margin: 24px auto; }
  .auth_input label {
    display: block; }
  .auth_input input {
    height: 32px;
    font-size: 22px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color: #F7F7F7; }

.login_container,
.signup_container {
  width: 540px;
  margin: 0 auto;
  background-color: #333;
  color: #F7F7F7;
  padding: 12px; }

.form_submit_button {
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: 22px;
  background-color: #1565C0;
  color: #F7F7F7;
  margin: 0 6px; }

/*
====================
List View
====================
 */
.listings_container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  top: 180px; }
  .listings_container .listView_entry {
    font-family: "Open Sans";
    color: #424242;
    background-color: #fff;
    padding: 6px;
    margin: 12px 6px;
    box-shadow: 0 1px 1px #777;
    width: 280px;
    height: 240px;
    z-index: 0; }
    .listings_container .listView_entry h2 {
      text-align: center;
      font-family: "Monserrat";
      font-size: 32px;
      line-height: 32px; }
    .listings_container .listView_entry .data_container {
      display: flex; }
      .listings_container .listView_entry .data_container .entry_img {
        flex-grow: 1; }
        .listings_container .listView_entry .data_container .entry_img img {
          width: 120px; }
      .listings_container .listView_entry .data_container .entry_text {
        flex-grow: 2; }
        .listings_container .listView_entry .data_container .entry_text span {
          display: block; }

/*
====================
Listing View
====================
 */
.listing_container {
  background-color: #333;
  color: #F7F7F7;
  padding: 24px; }
  .listing_container .listing_content {
    display: flex; }
  .listing_container h2 {
    font-family: "Monserrat";
    font-size: 32px;
    text-align: center; }
  .listing_container .image_pane {
    flex-grow: 2; }
    .listing_container .image_pane img {
      height: 180px; }
  .listing_container .info_pane {
    flex-grow: 1;
    font-size: 14px;
    line-height: 22px;
    margin: 24px; }
    .listing_container .info_pane .title {
      text-decoration: underline; }
    .listing_container .info_pane .data {
      font-style: italic;
      text-align: center; }
  .listing_container .listing_description {
    flex-grow: 1.5;
    padding: 24px;
    margin: 0 auto; }
  .listing_container .button_container {
    margin: 12px; }
  .listing_container .listing_view_button {
    padding: 12px;
    border: none;
    border-radius: 0;
    font-size: 14px;
    background-color: #FDD835;
    color: #424242;
    margin: 0 6px; }

/*
====================
Create Listing View
====================
 */
.create_listing_container {
  top: 180px;
  padding: 12px;
  border-left: 4px solid #333;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto; }
  .create_listing_container select {
    height: 32px;
    font-size: 22px;
    line-height: 22px;
    border: none;
    outline: none;
    background-color: inherit;
    color: #F7F7F7; }
  .create_listing_container #description {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 22px;
    color: #F7F7F7; }
  .create_listing_container .button_container {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    .create_listing_container .button_container .form_submit_button {
      width: 120px;
      border: none;
      border-radius: 0;
      padding: 12px;
      font-size: 22px;
      background-color: #FDD835;
      color: #424242;
      margin: 0 6px; }

/*
====================
Dashboard View
====================
 */
.dashboard_container {
  top: 180px;
  padding: 12px;
  border-left: 4px solid #333;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto; }
  .dashboard_container .user_items_container {
    display: flex; }
  .dashboard_container .user_items {
    flex-grow: 1;
    margin: 0 auto;
    align-items: stretch; }
  .dashboard_container .user_items > div {
    display: block; }
  .dashboard_container .active_heading,
  .dashboard_container .pending_heading,
  .dashboard_container .waiting_heading {
    text-align: center;
    display: block; }

.account_info {
  margin: 0 auto; }
  .account_info .user_picture {
    text-align: center; }
  .account_info .about {
    margin: 12px;
    text-align: center; }
  .account_info .account_history {
    display: block;
    width: 240px;
    vertical-align: bottom;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 0;
    margin: 12px auto;
    font-size: 22px;
    background-color: #1565C0;
    color: #F7F7F7; }

.display_history_container {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  text-align: center; }

.pane_listing_button {
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 12px;
  font-size: 14px;
  background-color: #FDD835;
  color: #424242;
  margin: 6px;
  width: 108px; }

.view {
  padding: 12px 0; }

.user_history {
  top: 180px;
  padding: 12px;
  border-left: 4px solid #333;
  background-color: #333;
  color: #F7F7F7;
  margin: 0 auto; }
  .user_history .history_labels {
    font-size: 32px;
    color: #F7F7F7;
    text-align: center;
    width: 90%;
    padding: 12px;
    border-bottom: 1px solid #999;
    margin: 0 auto; }
    .user_history .history_labels span {
      display: inline-block;
      width: 45%; }
    .user_history .history_labels .giver {
      flex-grow: 1; }
    .user_history .history_labels .taker {
      flex-grow: 1; }

.hist_list_item {
  height: 120px;
  width: 80%;
  border-bottom: 1px solid #999;
  margin: 12px auto;
  z-index: 4; }
  .hist_list_item .data_container {
    display: inline-block; }
  .hist_list_item h3 {
    font-size: 32px;
    margin: 12px; }
  .hist_list_item span {
    display: block;
    margin: 6px; }
  .hist_list_item .flag {
    vertical-align: bottom;
    z-index: 2;
    font-size: 14px;
    width: 120px;
    padding: 22px;
    background-color: #FDD835;
    color: #424242;
    text-align: center; }

.right_hist {
  text-align: right; }

.right_flag {
  float: right; }

.left_hist {
  text-align: left; }

.left_flag {
  float: left; }

/*
====================
Profile view
====================
 */
.profile_name {
  color: #424242;
  font-size: 32px;
  text-align: center; }

/*
====================
Pane Entry View
====================
 */
.pane_listing_entry {
  height: 180px;
  width: 240px;
  padding: 12px;
  margin: 12px auto;
  background-color: #fff;
  color: #424242; }

.pane_listing_entry h2 {
  text-align: center; }

.right {
  width: 120px; }

.entry_img > img {
  height: 120px; }

.data_container {
  margin-top: 20px; }

.data_container > div {
  display: inline-block; }

.right > div {
  display: block; }

.entry_text > span {
  display: block;
  width: 120px; }

/*
====================
Footer
====================
 */
footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: #F7F7F7;
  background-color: #333; }
  footer .made_with,
  footer .made_by {
    display: inline-block;
    margin: 0 auto; }

canvas {
  background-color: black;
  box-shadow: 3px 2px 3px darkblue; }

.leftSide {
  float: left;
  min-width: 260px;
  max-width: 260px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: lightgrey;
  border: solid 1px black;
  height: 500px; }

.rightSide {
  float: right;
  min-width: 600px;
  padding-top: 20px;
  padding-right: 20px; }

.developerContainer {
  position: absolute;
  margin-top: 160px;
  margin-left: 60px;
  margin-right: 60px; }

.wrapperDiv {
  background-color: darkgrey;
  border: solid 5px black;
  margin: 0 auto;
  min-width: 1200px;
  height: 540px; }

.auth_inputChart {
  display: block;
  width: 260px;
  margin: 24px auto; }
  .auth_inputChart label {
    display: block; }
  .auth_inputChart input {
    height: 32px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 21px;
    outline: none;
    background-color: inherit;
    color: #F7F7F7; }

#myChart {
  width: 400px;
  height: 400px; }
