/*
====================
Nav Bar header
====================
 */
nav {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #000;
}

h1 {
  font-size: 32px;
}

.auth_points {
  padding: 6px;
  display:inline-block;
  text-align:right;
}

.app_points {
  padding: 6px;
  display:inline-block;
  text-align: left;
}

.nav_title {
  text-align: center;
  font-size:24px;
}

.dashboard,
.create {
  padding-left: 24px;
}


.login,
.signup {
  padding-right: 24px;
}

/*
====================
Search Bar
====================
 */

.search_bar {
  height: 60px;
  width: 960px;
  margin: 0 auto;
  border-top: 1px double #000;
  border-bottom: 2px double #000;
}

.search_bar_input {
  display:inline-flex;
}
/*
====================
Main Container
====================
 */
.main_container {
  width: 960px;
  margin: 0 auto;
}

/*
====================
Inputs - Login / Signup
====================
 */

input, textarea {
  display: block;
}
